&
    background white
    .bar
        .kluby
            fill #ccc
            &:hover
                opacity 0.7
                cursor pointer
            &.klub-cssd
                fill PartyCSSD
            &.klub-ods
                fill PartyODS
            &.klub-kscm
                fill PartyKSCM
            &.klub-kdu-csl
                fill PartyKDU
            &.klub-us-deu
            &.klub-us
                fill PartyUSDEU
            &.klub-sz
            &.klub-nez--sz
                fill PartySZ
            &.klub-vv
                fill PartyVV
            &.klub-top09-s
                fill PartyTOP

            &.klub-spr-rsc
                fill #030181
            &.klub-oda
                fill #0089E6
            &.klub-lb
                fill #FB8072
            &.klub-kds
                fill #555
            &.klub-hsd-sms
                fill #FDFC02
            &.klub-cmus
                fill #00FFFF
            &.klub-lsns
                fill #00008B
            &.klub-lsu
                fill #33ff33
            &.klub-nezaraz
            &.klub-void
                fill #ccc
